
/* .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 200vh;
  width: 100%;
} */

.text > p > div {
  background: linear-gradient(
    to right,
    var(--black) 50%,
    var(--white) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}